*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body{
    background-color: black;
}
header, 
footer{
    background-color: rgb(179, 111, 23);
    padding: 10px;
    color: white;
    text-align: center;
    width: 100%;
}

main {
    display: grid;
    place-items: center;
}

section{
    margin: 30px;
    display: flex;
    align-self: center;
    gap: 20px;
    padding: 10px;
    animation: anima 1s ease backwards;
}

figure{
    text-align: center;
    border: 1px solid rgb(179, 111, 23);
    border-radius: 5px;
    padding: 10px;
    height: 350px;
    width: 350px;
}

figure img{
    width: 16,666%;
    height: 200px;
    

}

figure:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color:rgb(134, 90, 32);
}
@media (max-width: 600px) {
    section {
        flex-direction: column;
    }
}
@keyframes anima {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}